body {
    background-color: #AF1C2E;
}

.header {
    background-color: #AF1C2E;
}   

pre, code {
    color: #15ff00be;
    font-family: 'Courier New', Courier, monospace;
}

.chat-container {
    color: #fff;
    margin: auto;
}

.chat-container {
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    background-color: #000;
}

.chat-container .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.chat-container .message.user {
    color: #fff;
    text-align: right;
}

.chat-container .message.friday {
    color: #AF1C2E;
}

input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

button[type="submit"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.footer {
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer .logo {
    width: 8rem;
}